@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Vars
$montserrat: "Fraunces", serif;
$fraunces: "Montserrat", sans-serif;

// Colors
$Cream: hsl(30, 38%, 92%);
$Darkcyan: hsl(158, 36%, 37%);
$Verydarkblue: hsl(212, 21%, 14%);
$Darkgrayishblue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);
$darkgreen: hsl(158, 38%, 21%);

body {
  background: $Cream;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    padding: 1rem;
  }
  .card {
    height: 30rem;
    width: 650px;
    display: flex;
    background: $White;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width: 600px) {
      flex-flow: column;
      height: auto;
      width: 100%;
    }
    .product {
      height: 100%;
      flex-basis: 50%;
      .desktop {
        height: 100%;
        flex-basis: 50%;
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      .mobile {
        display: none;
        @media screen and (max-width: 600px) {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
    .product-details {
      align-self: center;
      flex-basis: 50%;
      display: flex;
      flex-flow: column;
      gap: 1.5rem;
      padding: 2.7rem;
      @media screen and (max-width: 600px) {
        padding: 2.5rem;
      }
      .category {
        font-family: $fraunces;
        letter-spacing: 5px;
        color: $Darkgrayishblue;
        text-transform: uppercase;
      }
      .heading {
        font-family: $montserrat;
        line-height: 1.1em;
        color: $Verydarkblue;
      }
      .description {
        font-family: $fraunces;
        font-size: 0.9rem;
        color: $Darkgrayishblue;
        line-height: 1.5em;
      }
      .price {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $Darkcyan;
        .discount {
          font-family: $montserrat;
        }
        .original {
          color: $Darkgrayishblue;
          text-decoration: line-through;
          font-family: $fraunces;
        }
      }
      .AddBtn {
        cursor: pointer;
        width: 100%;
        padding: 1rem;
        background-color: hsl(158, 42%, 33%);
        border: none;
        border-radius: 5px;
        font-family: $fraunces;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: $White;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: $darkgreen;
        }
      }
    }
  }
}
